.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
  color: #000;; 
  text-shadow: 0 0 3px #3c8b45, 0 0 5px #ffffff; 
}
.backButton {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease; /* Add this line */
}


.backButton:hover {
  background-color: #45a049;
  cursor: pointer;
}

.searchContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.searchInput {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  background-color: #ffff;
}

.table th {
  background-color: #4caf50;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}



.link {
  color: #0070f3;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
